/* update */

@keyframes font-zoom {
	from {
		font-size: 1vw;
	}
	to {
		font-size: 0.117vw;
	}
}

body {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 0.117vw;
	font-family: 'Courier New', monospace;
	white-space: nowrap;
	font-weight: bold;
	animation-name: font-zoom;
	animation-duration: 1s;
}

a{
	color: #FFFFFF;
	text-decoration: none;
}

a:hover{
	color: #FFFFFF;
	background-color: #333333;
	
}
