body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.container {
    scroll-snap-type: y proximity;
    overflow: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}

.page {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    /*background-color: lime;*/
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.cover-page {
    background-image: url("assets/cover-bg.png");
    background-size: cover;
    background-position: bottom center;
    background-blend-mode: multiply;
    background-color: darkslategray;
    padding: 0;
}
.cover-page-overlay {
    background-color: black;
    color: lightgray;
    mix-blend-mode: screen;

    width: 75%;

    text-align: center;
}
.cover-page-overlay > h1 {
    margin: 0vw 0px 2vw 0px;
    padding: 0;
    font-size: 8vw;
    line-height: 8vw;
}
.cover-page-overlay > h2 {
    margin: 2vw 0px 0vw 0px;
    font-size: 2vw;
    line-height: 2vw;
}

.content-page-background {
    background-color: #f0f0f0;
}
.content-page {
    width: 80%;
    /*background-color: red;*/
    background-color: #f0f0f0;
    padding: 1vw;
    margin: 5vw;
}
.content-page > h1 {
    font-size: 4vw;
    color: #363636;
}
.content-page > p {
    font-size: 1.75vw;
    color: #242424;
}

.content-page > ul > li {
    font-size: 1.5vw;
    color: #242424;
}
a {
    color: #242424;
}
img {
    width: 100%;
}

@media (max-width: 768px) {
    .cover-page-overlay > h1 {
        margin: 0vw 0px 2vw 0px;
        padding: 0;
        font-size: 12vw;
        line-height: 12vw;
    }
    .cover-page-overlay > h2 {
        margin: 2vw 0px 0vw 0px;
        font-size: 3vw;
        line-height: 3vw;
    }

    .content-page > h1 {
        font-size: 12vw;
        color: #363636;
    }
    .content-page > p {
        font-size: 4vw;
        color: #242424;
    }

    .content-page > ul > li {
        font-size: 3.5vw;
        color: #242424;
    }
}
