/* https://coolors.co/efc69b-af1b3f-473144-ccb69b-df9b6d */

/* VARIABLES */
:root {

	/* Defaults */
	--background_color: #191919;

	/* Page title */
	--title_text_color: #CED0CE;
	--title_background_color: #473144;

	/* Caption */
	--caption_text_color: #7B2642;


	/* Page subtitle */
	--subtitle_text_color: #CED0CE;

	/* Section header */
	--section_header_text_color: #E6E8E6;

	/* Default text */
	--content_text_color: #FFFFFF;

	/* Dividers */
	--divider_text_color: #CED0CE;

	/* Link color */
	--link_normal_text_color: #EFC69B;
	--link_highlight_text_color: #FFFFFF;
	--link_highlight_background_color: #AF1B3F;

	/* Selected text */
	--selection_text_color: #191919;
	--selection_background_color: #CF716D;

}



/* ANIMATIONS */

/* Hide element for certain amount of time */
@keyframes hide_delay {

	/* Start */
	0% {

		/* Hide element */
		visibility: hidden;

	}

	/* Just before start */
	99% {

		/* All color same as background */
		visibility: hidden;

	}

	/* When animation ends, element becomes visible */

}

/* Hightlight text */
@keyframes highlight_text {

	/* Start */
	from {

		background-color: transparent;

	}

}

/* Reveal text from left */
@keyframes reveal_text {

	/* Start */
	from {

		width: 0%;

	}

	/* End */
	to {

		width: 100%;

	}

}

/* Fade in */
@keyframes fade_in {

	/* Start */
	from {

		opacity: 0%;

	}

	/* End */
	to {

		opacity: 100%;

	}

}

/* Link highlight */
@keyframes link_highlight {

	/* Start */
	from {

		background-color: inherit;
		color: var(--link_normal_text_color);

	}

	/* End */
	to {

		background-color: var(--link_highlight_background_color);
		color: var(--link_highlight_text_color);

	}

}

/* Undo link highlight */
@keyframes undo_link_highlight {

	/* Start */
	from {

		background-color: var(--link_highlight_background_color);
		color: var(--link_highlight_text_color);

	}

	/* End */
	to {

		background-color: inherit;
		color: var(--link_normal_text_color);

	}

}


/* REACTIVE */
::selection {

	/* Color */
	background: var(--selection_background_color);
	color: var(--selection_text_color);

}




/* DEFAULTS */

/* Body */
* {

	/* Font */
	font-family: 'Lucida Grande', monospace;

	/* Background */
	background-color: var(--background_color);

	/* Spacing */
	margin:10px;

	/* Animations */
	animation-fill-mode: forwards;

}

/* Span */
span {

	/* Display */
	display: inline-block;
	overflow: hidden;

}

/* Link */
a {

	/* Font */
	color: var(--link_normal_text_color);
	

}

/* Link hover */
a:hover {

	/* Animation */
	animation: link_highlight 0.075s linear;
	animation-fill-mode: forwards;
}

/* Link unhover */
a:not(:hover) {

	/* Animation */
	animation: undo_link_highlight 0.075s linear;
	animation-fill-mode: forwards;
	


}



/* CLASSES */

/* Page title */
.title {

	/* Font */
	color: var(--title_text_color);
	font-size: 70px;
	font-weight: normal;
	background-color: var(--title_background_color);

	/* Animation */
	animation: highlight_text 1s ease-out 1, 
			   reveal_text 1s ease-out 1;
	animation-fill-mode: both;

}

/* Caption (pronouns) */
.caption {

	/* Font */
	color: var(--caption_text_color);
	font-size: 15px;

	/* Overflow */
	overflow: hidden;
	white-space: nowrap;

	/* Animation */
	animation: reveal_text 1s 0.3s ease-out 1;
	animation-fill-mode: both;

	/* Margins */
	margin-top: 0px;
	margin-bottom: 0px;

}

/* Page subtitles */
.subtitle {

	/* Font */
	color: var(--subtitle_text_color);
	font-size: 25px;
	font-style: italic;

	/* Overflow */
	overflow: hidden;
	white-space: nowrap;

	/* Animation */
	animation: reveal_text 1s 0.25s ease-out 1;
	animation-fill-mode: both;

}

/* Section header */
.section_header {

	/* Font */
	color: var(--section_header_text_color);
	font-size: 20px;
	font-weight: normal;
	text-decoration: underline;

	/* Overflow */
	overflow: hidden;
	white-space: nowrap;

	/* Animation */
	animation: reveal_text 1s 0.75s ease-out 1;
	animation-fill-mode: both;

}

/* Default text */
.content {

	/* Font */
	color: var(--content_text_color);
	font-size: 15px;
	line-height: 1.5;

	/* Overflow */
	overflow: hidden;
	white-space: nowrap;

	/* Animation */
	animation: reveal_text 1s 1s ease-out 1;
	animation-fill-mode: both;

}

/* Dividers */
.divider {

	/* Color */
	border-top: 3px dashed var(--divider_text_color);
	border-bottom: 3px var(--divider_text_color);

	/* Spacing */
	margin-top: 50px;
	margin-bottom: 50px;

	/* Animation */
	animation: fade_in 1s 0.5s ease-out 1;
	animation-fill-mode: both;

}