



:root {
	
	/* COLORS */
	--beige-0: #F7E9DD;
	--beige-1: #F2E5D9;
	--beige-2: #EFDCCC;
	--beige-3: #E9D3C0;
	--beige-4: #DBC2AD;
	--beige-5: #D1B7A1;
	--beige-6: #A18167;
	--beige-7: #614127;

	/* VARIABLES */



	--background-color: var(--beige-0);
	--background-color-2: var(--beige-1);



	--box-background-color: var(--beige-1);
	
	--box-font-family: Verdana;
	--box-text-color: var(--beige-7);

	--box-border-color: var(--beige-5);	
	--box-border-width: 1px;
	--box-border-style: solid;

	--box-shadow-color: var(--beige-3);
	--box-shadow-x: -3px;
	--box-shadow-y: 6px;

	--box-spacing: 10px;

	--box-hover-multiplier: 2;
	--box-hover-duration: 0.1s;



	--divider-color: var(--beige-5);
	--divider-width: 1px;	



	--large-font-size: 60px;
	--medium-font-size: 20px;
	--small-font-size: 15px;
}

/* BODY */
body {
	/* background-color: var(--background-color); */
	background: repeating-linear-gradient( -45deg, var(--beige-3), var(--beige-3) 5px, var(--beige-0) 5px, var(--beige-0) 25px );
}

/* TEXTBOX */
.textbox {

	font-family: var(--box-font-family);

	color: var(--box-text-color);

	border: var(--box-border-width) var(--box-border-style) var(--box-border-color);
	border-radius: var(--box-spacing);

	background-color: var(--box-background-color);

	padding: var(--box-spacing);
	margin: var(--box-spacing);

	box-shadow: var(--box-shadow-x) var(--box-shadow-y) 0px var(--box-shadow-color);	

	transition: var(--box-hover-duration);

}
.textbox:hover {
	
	box-shadow: calc(var(--box-shadow-x)*var(--box-hover-multiplier)) calc(var(--box-shadow-y)*var(--box-hover-multiplier)) 0px var(--box-shadow-color);
	transform: translate(calc(var(--box-shadow-x)*var(--box-hover-multiplier)*-0.25), calc(var(--box-shadow-y)*var(--box-hover-multiplier)*-0.25));
}

/* SPAN BLOCK */

/*
.one-half {

	width: 25em;
	

}
.one-third {
	
	width: 50em;

}
*/

.dashed {
	border-style: dashed;
}

/* LINKS */
a {
	color: inherit;
	transition: var(--box-hover-duration);
	text-decoration: underline dashed;
	border: 1px;

}
a:hover {

	color: var(--box-background-color);
	background-color: var(--box-text-color);
	text-decoration: none;

}

/* ELEMENTS */
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#title {
	width: 75%;
	margin-left: 12%;
	margin-top: 2%;
	animation: fade 1s linear 0s;
	animation-fill-mode: both;
}
#divider {
	margin-top: 1%;
	margin-left: 10%;
	margin-right: 10%;
	border: var(--divider-width) dashed var(--divider-color);
	animation: fade 1s linear 0.25s;
	animation-fill-mode: both;
}
#about {
	margin-top: 1%;
	margin-left: 17%;
	animation: fade 1s linear 0.5s;
	animation-fill-mode: both;
	width: 50em;
}
#socials {
	margin-top: 1%;
	margin-left: 22%;
	animation: fade 1s linear 0.75s;
	animation-fill-mode: both;
	width: 20em;
}
#languages {
	margin-top: 1%;
	margin-left: 27%;
	animation: fade 1s linear 1s;
	animation-fill-mode: both;
	width: 17em;
}
#programming {
	margin-top: 1%;
	margin-left: 32%;
	animation: fade 1s linear 1.25s;
	animation-fill-mode: both;
	width: 25em;
}

/* FONT SIZES */
.large {
	font-size: var(--large-font-size);
}
.medium {
	font-size: var(--medium-font-size);
	text-decoration: underline dotted;
}
.small {
	font-size: var(--small-font-size);
}
